.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;

  @include tablet {
    width: 658px;
  }
  @include desktop {
    width: 1168px;
  }
}

.none {
  display: none;
}

.hidden {
  overflow: hidden;
}

.is-open {
  opacity: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}
