html {
  --accent: #ffc700;
  --text-accent: #282828;
  --title-color: #0499dd;
  --info-card-background: #ededed;
  --text-hero-color: #ffffff;
  --green: #d4d4d4;
  --button-gradient: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
}
